<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceGapslabs"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53869/ServiceGapslabs.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServiceGapslabs" contract="ServiceReference1.ServiceGapslabs" name="BasicHttpBinding_ServiceGapslabs"/>
        </client>
    </system.serviceModel>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Npgsql" publicKeyToken="5D8B90D52F46FDA7" culture="neutral"/>
                <bindingRedirect oldVersion="2.1.1.0" newVersion="2.0.12.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
